/* TopNavigation.css */
.top-navigation {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    background: var(--Black, #13191C);
    height: 50px; 
  }
  .top-navigation.light{
    background: var(--bright-topic, #D1D1D6);
  }
  .nav-left {
    display: flex;
    gap: 10px;
  }
  
  .nav-button {
    display: flex;
padding: 10px 26px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 5px;
background: var(--white-19, rgba(255, 255, 255, 0.19));
  }
  
  .nav-button.active {
    background-color: #ffffff;
    color: #121212;
  }
  
  .nav-button:hover {
    display: flex;
padding: 10px 26px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 5px;
background: var(--White, #FFF);
color: var(--Black, #13191C);
  }
  
  .nav-right {
    display: flex;
    align-items: center;
    position: fixed;
    right: 0;
  }
  
  .icon {
    
    width: 30px;
    height: 30px; /* Spotify green color */
    cursor: pointer;
    transition: transform 0.2s ease;
    margin-right: 10px;
  }
  
  .icon:hover {
    transform: scale(1.1);
  }
  
  .profile-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #00FF03;
    margin-right: 20px;
  }
  .top-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #141414;
  }
  
  .icon {
    width: 24px;
    height: 24px;
    margin-right: 20px;
  }
  
  .profile-icon {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    position: relative;
  }
  
  .user-dropdown {
    position: absolute;
    right: 65px;
    top: 90px; /* Adjust for proper positioning under the profile icon */
    background-color: #212121;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    display: none; /* Hidden by default */
    text-align: center;
    

   
width: 120px;
height: 160px;
padding: 6px 14px;
align-items: center;
gap: 12px;
  }
  
  .user-dropdown.active {
    display: block; /* Show the dropdown when active */
  }
  
  .user-dropdown a {
    display: block;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
  }
  
  .user-dropdown a:active {
    background-color: #333;
  }
  
  .user-dropdown hr {
    margin: 5px 0;
    border: 0;
    border-top: 1px solid #444;
  }
  