
  /* src/components/MainPage.css */

  .main-container {
    display: flex;
  }
  .content.light {
    background-color: #D1D1D6;
  }
  .sidebar{
    position: fixed;
    left: 0;
    top: 0;

  }
  .player{
    position: fixed;
    bottom: 0;
  }
  .filter{
    position: fixed ;
    top: 0;
    right: 0px;
  }
  .filter-f{
    position: fixed ;
    top: 0;
    left: 320px;
    width: 300px;
  }
  .content {
    margin-top: -65px;
    margin-left: 320px; /* Sidebar width */
    flex-grow: 1;
    overflow-y: auto;
    background: var(--Black, #13191C);
    position: sticky;
    right: 0;
    width: 1200px;
    }
  .banner-container {
    display: flexbox;
    /* Змініть розмір відповідно до ваших потреб */
    margin-bottom: 20px; /* Відстань від банеру до наступного контенту */
    margin-left: 2px;
    margin-right: 20px;
    margin-top: 160px;
    overflow: hidden;
}
h2{
  margin-left: 20px;
  color: #00FF03;
  margin-bottom: -10px;
  font-size: 30px;
}
.music{
margin-left: 30px;
}
.cont{
  margin-top: -70px;
  margin-left: 30px;
  
}
.banner-image {
  margin-left: 30px;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Це забезпечить правильне масштабування зображення */
    margin-bottom: 50px;
  }
  .section-title.dark{
   
    color: #00FF03;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .section-title.light{
    color: #0B9F0D;
font-size: 35px;
font-style: normal;
font-weight: 600;
line-height: normal;
  }