.music-c{
  width: 1124px;
  overflow-x: hidden;
  display: flex;
  
  padding: 15px 0;
  scroll-behavior: smooth;
  margin-top: 20px;
  
}

.img-container {
  width: 155px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  position: relative;
  margin: 0 4px;
}
.public{
  margin-left: -4px;
  
}
.m-5{
  margin-right: 12px;
  width: 140px;
  height: 140px;
  border-radius: 8px;
}
.play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 140px;
  height: 140px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  display: none; /* Hidden by default */
  justify-content: center;
  align-items: center;
  margin-top: -49px;
  margin-left: -5px;
}

.play-icon img {
  width: 40px;
  height: 40px;
}

.img-content:hover .play-icon {
  display: flex; /* Show on hover */
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.7); /* Green shadow on hover */
   
}

.img-r {
  position: absolute;
  right: 60px;
  top: -40px;
  margin-right: 10px;
  width: 25px;
  height: 25px;
}

.img-l {
  position: absolute;
  right: 60px;
  top: -40px;
  margin-right: 65px;
  width: 25px;
  height: 25px;
  display: block;
}

.img-r:hover {
  transform: scale(1.1);
}

.img-l:hover {
  transform: scale(1.1);
}

.auth {
  color: #00FF03;
  font-size: 18px;
}
.name-title{
  
  font-size: 18px;
  font-weight: 600;
  color: #FFF;
}
.result-name{
  font-size: 14px;
  color: var(--gray-white, #CECECE);
}
.auth:hover {
  color: #00FF03;
  transform: scale(1.1);
}
.artist-name:hover{
  transform: scale(1.1);
}

.main-title{
  position: absolute;
  left: 3px;
  top: -60px;
  margin-right: 65px;
  display: block;
  font-size: 35px;
  font-weight: bold;
  color: #00FF03;
}
.result-name{
  color: var(--gray-white, #CECECE);

  /* txt16 (regular) */
  margin-top: -3px;
  font-weight: 400;
  line-height: normal;
}