.profile-container {
  
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    color: #fff;
   
  }
  .page{
    position: fixed;
    width: 1800px;
    height: 1000px;
    top: 0;
    background: var(--Black, #13191C);
  }
.page.light{
  background-color: #D1D1D6;
  
  color: var(--Light-black, #1A2125);
}
.subscription-card-d.light{
  background: var(--Green, #00FF03);
}
  .premium-btn-d:hover{
    background: var(--Green, #00FF03);
  }
  .zah{
    color: var(--White, #FFF);
/* txt32 (semi bold) */
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-left: 705px;
margin-top: 180px;
  }
  .zah.light{
    color: var(--Light-black, #1A2125);
  }
  .premium-btn-d{
    margin-top: 20px;
    margin-left: 20px ;
    border-radius: 25px;
    background: var(--Green, #00FF03);
color: var(--Light-black, #1A2125);
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
  }
  .subscription-card.dark {
    border-radius: 12px;
background: var(--white-19, rgba(255, 255, 255, 0.19));padding: 30px;
    border-radius: 10px;
    max-width: 400px;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-left: 700px;
    margin-top: 30px;
  }
  .subscription-card{
    background: #FFF;
  }
  .h2{
   width: 500px;
    text-align: left;
    color: var(--White, #FFF);
    font-weight: 500;
  }
  .h22{
    width: 400px;
     text-align: left;
     color: var(--White, #FFF);
     font-weight: 500;
     margin-left: 20px;
   }
  .subscription-card-d {
    margin-top: 200px;
    margin-left:550px;
    border-radius: 12px;
background: var(--white-19, rgba(255, 255, 255, 0.19));
    padding: 30px;
    border-radius: 10px;
    max-width: 400px;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  .subscription-card h1 {
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: -10px;
    
  }
  
  .subscription-card h3 {
    font-size: 16px;
    margin-top: 10px;
    color: #fff;
  }
  .subscription-card.light h3 {
    color: var(--Light-black, #1A2125);
  }
  .cena{
   
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 10px;
  }
  
  .subscription-card ul {
    margin-top: 10px;
    list-style-type: none;
    padding-left: 0;
  }
  
  .subscription-card ul li {
    margin: -1px 0;
  }
  
  .premium-btn {
    margin-top: 20px;
    margin-left: 780px;
    border: none;
    cursor: pointer;

    background: var(--Green, #00FF03);
    color: var(--Light-black, #1A2125);
font-size: 20px;
font-style: normal;
font-weight: 600;
display: flex;
padding: 16px 28px;
justify-content: center;
align-items: center;
border-radius: 30px;
  }
  
  .premium-btn:hover {
    background: var(--Green, #888988);
  }
  
  .error-container {
    text-align: center;
    margin-top: 50px;
    color: red;
  }
  