body{
    font-family: 'Arial', sans-serif;


    background: var(--Black, #13191C);

}
.subscription-page {
    padding-left: 600px;
    margin-bottom: 50px;
    color: #fff;
}

.logo {
    display: flex;
    margin-left: 550px;
    margin-top: -75px;
    margin-bottom: 20px;
}

.frame img {
    display: flex;
    padding: 10px 15px;
    align-items: center;
    gap: 339px;
    align-self: stretch;
    width: 50%;
    height: 50%;
}

.frame {
    display: flex;
    width: 40px;
    height: 40px;
    padding: 4px 4px;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 12px;
    background: var(--white-19, rgba(255, 255, 255, 0.19));

}

.frame.light {
    background: var(--Light-black, #1A2125);

}

.subscription-header {
    align-items: center;
    border-radius: 12px;
    background: var(--white-19, rgba(255, 255, 255, 0.19));
    margin-bottom: 20px;
    padding: 5px 25px;
    width: 580px;

}

.subscription-header.light-header {
    background: var(--White, #FFF);

}

.plan-title {
    color: var(--green-less-saturated, #4BDD4C);
    /* txt32 (semi bold) */
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: -15px;
}
.settings-icon {
    background-color: #333;
    border-radius: 50%;
    padding: 8px;
}

.plan {
    
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.plan.light{
    color: var(--Light-black, #1A2125);
}
.settings-icon-svg {
    width: 24px;
    height: 24px;
    fill: #fff;
}

.section {
    width: 600px;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    border-radius: 12px;
    background: var(--white-19, rgba(255, 255, 255, 0.19));

}
.section.light-section{
    background: var(--White, #FFF);
}
.footers {
    margin-left: -262px;
}

.sectio-h2 {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #FFF;
    margin-left: 21px;
    padding: 5px 0;
}
.sectio-h2.light{


    color: var(--Light-black, #1A2125);
 }
 .dark.light{


    color: var(--Light-black, #1A2125);
 }
.left {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    
    margin-left: 20px;

}

.section h2 {
    margin-top: 0;
}

.section-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    padding: 10px 0;
    border-top: 1px solid #444;
    padding: 5px 20px;
    display: flex;
    justify-content: left;

}

.section-item:first-child {
    border-top: none;
}

.section-item.light-item:hover {
    cursor: pointer;
    border-radius: 12px;
    background: var(--white-19, rgb(184, 184, 184));
}
.section-item:hover {
    cursor: pointer;
    border-radius: 12px;
    background: var(--white-19, rgba(255, 255, 255, 0.19));
color: #FFF;
}
.toggle-switch {
    position: absolute;
    width: 40px;
    height: 20px;
    right: 320px;
}

.toggle-checkbox {
    opacity: 0;
    position: absolute;
}

.right {
    position: absolute;
    right: 320px;
}

.toggle-label {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #444;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.toggle-label::after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border-radius: 50%;
    transition: transform 0.3s;
}
.dark{
color: #fff;
}
.toggle-checkbox:checked+.toggle-label {
    background-color: #1db954;
}

.toggle-checkbox:checked+.toggle-label::after {
    transform: translateX(20px);
}












.section-item{
    border-top: none;
}
.subscription-page.light {
    background: var(--bright-topic, #D1D1D6);
    color: var(--Light-black, #1A2125);
}
