/* src/styles/SearchBar.css */

.search-bar-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-input::placeholder {
  color: #ccc; /* Стиль для тексту підказки */
}

.search-input:focus {
  outline: none;
  border-color: green; /* Зелена рамка при фокусі */
}
.search-input {
  display: flex;
  justify-content: center;
  width: 400px;
  height: 15px;
  padding: 10px 10px 10px 40px;
  align-items: center;
  gap: 18px;
  flex-shrink: 0;
  border-radius: 12px;
  border: 2px solid var(--Green, #00FF03);
  background: var(--Black, #13191C);
  color: #00FF03; 

}
.search-input{
  background-color: #D1D1D6;
  border: 2.5px solid #0B9F0D;
}
.search-input::placeholder {
  color: #00FF03; /* Сірий колір для тексту підказки */
}
.search-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -455px;
}

.search-icon {
  width: 20px;
  height: 20px;
}

.top-navigation {
  display: flex;
  align-items: center;
  padding: 15px 30px;
  height: 50px;
}

.nav-left {
  display: flex;
  gap: 10px;
  position: fixed;
}
.home{
  margin-left: 420px;
  margin-top: px;
}