/* src/components/Sidebar.css */
.sidebar {
  width: 280px;
  background: var(--Light-black, #1A2125);
  /* Dark background */
  color: #ffffff;
  position: fixed;
  top: 0;
  bottom: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.sidebar.light{
  background-color: #1E2E1E;
}
.sidebar-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.sidebar-logo {
  width: 250px;
  height: 100px;
  margin-right: 10px;
  color: #00FF03;
}

.sidebar-title {

  font-weight: bold;
  color: #00FF03;
  /* Spotify green color */
}

.sidebar-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  font-size: 25px;
}

.sidebar-link {
  display: flex;
  align-items: center;
  padding: 10px 0;
  text-decoration: none;
  color: #4BDD4C;
  transition: color 0.3s;
}

.sidebar-link:hover {
  color: #00FF03;
  /* Hover color */
}

.sidebar-icon {
  margin-right: 10px;
  margin-left: 20px;
  width: 35px;
  height: 35px;

}

.sidebar-icon-h {
  margin-right: 10px;
  margin-left: 26px;
  width: 23px;
  height: 23px;
}
.plus {
  margin-top: 10px;
  margin-left: 20px;
  width: 40px;
  height: 40px;
}
.sidebar-buttons {
  display: flex;
  gap: 10px;
  margin: 15px 0;
}

.sidebar-button {
  display: inline-flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  background: var(--white-19, rgba(255, 255, 255, 0.19));
  color: var(--Light-black, #1A2125);
  /* txt16(semi bold) */
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.sidebar-button:active,
.sidebar-button:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: var(--White, #FFF);

}
.sidebar-button.active{
  background-color: #FFF;
}
.sidebar-contents,
.sidebar-content {
  margin-top: 20px;
  overflow-y: auto;
  flex-grow: 1;
  overflow-y: scroll;
  margin-left: 10px;
  -ms-overflow-style: none;
  /* Internet Explorer */
  scrollbar-width: none;
}
.sidebar-contents{
  margin-top: -10px;
}
.sidebar-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  cursor: pointer;
}

.sidebar-item-img {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  
}
.margin-5{
  display: flex;
justify-content: left;
margin-left: 10px;
}
.sidebar-item-title {
  font-weight: bold;

  margin: 0;
}

.sidebar-item-subtitle {
  font-size: 12px;
  color: #b3b3b3;
  margin: 0;
}


.sidebar-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.sidebar-item-img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.sidebar-item-title {
  font-size: 14px;
  font-weight: bold;
}
.sidebar-item-title-s {
  margin-top: 20px ;
  font-size: 14px;
  font-weight: bold;
}
.sidebar-item-subtitle-s{
  font-size: 12px;
  color: gray;
  margin-top: -15px ;
}
.sidebar-item-subtitle {
  font-size: 12px;
  color: gray;
}



.sidebar-content::-webkit-scrollbar {
  display: none;
  /* Приховує скрол у браузерах на базі WebKit (Chrome, Safari) */
}
