.main-container {
    display: flex;
  }
  .sidebar{
    position: fixed;
    left: 0;
    top: 0;

  }
  .filter{
    
    position: fixed ;
    top: 0;
    right: 0;
  }
  .content {
    margin-top: -65px;
    margin-left: 320px; /* Sidebar width */
    flex-grow: 1;
    overflow-y: auto;
    background: var(--Black, #13191C);
    position: sticky;
    right: 0;
    width: 1199px;
    }

 .bar{
    display: flex;
    width: 535px;
    height: 55px;
    padding: 10px 10px 10px 16px;
    align-items: center;
    gap: 18px;
    flex-shrink: 0;
    border-radius: 12px;
border: 2.5px solid var(--Green, #00FF03);
}
